<!DOCTYPE HTML>
<html>

<head>
    <title>Beam Search</title>
    <meta charset="utf-8" />

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit-icons.min.js"></script>

    <!-- relevance script -->
    <script src="./../static/js/relevance.js"></script>

    <style>
        body {
            width: 50%;
            margin: auto;
        }
        .column {
            float: left;
            width: 50%;
        }
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

    </style>
</head>

<body>
    <center>
        <!-- Header -->
        <header id="header">
            <h1>Beam Search </h1>
        </header>

        <!-- Search Form -->
        <form  method="POST" action="{{ url_for('handle_data') }}">
            <div>
                <input type="radio" name="corpus" value="reuters" checked> Reuters<br>
                <input type="radio" name="corpus" value="uottawa"> uOttawa Courses<br>
            </div>

            <input type="text" name="query" size="55" placeholder='Search...' value="{{query}}">
            
            <select id='topicDropdown' name='topicDropdown'>
                {% for i in topics %}
                    <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select><br>

            <input type="radio" name="model" value="vsm" checked> VSM<br>
            <input type="radio" name="model" value="boolean"> Boolean<br>
            <input type="radio" name="model" value="corpus_acess"> Corpus Access<br>

            <details>
                <summary>Advanced Options:</summary>
                <center>
                    <div class="row">
                        <div class="column">
                            Disable lemmatization & Stemming:<input type="checkbox" name="lemmatization" value="False"><br>
                            Disable normalization:<input type="checkbox" name="normalization" value="False"> <br>
                        </div>
                        <div class="column">
                            Enable query expansion:<input type="checkbox" name="globalexpansion" value="True"><br>
                        </div>
                    </div>
                </center>
            </details>
            <br>
            <input name='search-button' type='submit' class="uk-button uk-button-default" value='search' /><br>
        </form>
    </center>

    <br>
    {%if corpus == 'uottawa'%}
        {% set docNumber = namespace(value=1) %}
        {% for i in res %}
            {{docNumber.value}}
            {%set title = i[0]%}
            {%set desc = i[1]%}
            {%set docID = i[2]%}
        <div class="uk-card uk-card-hover uk-card-body">
            
            <h3>{{title}} </h3>            
            <details>
                <summary>Course details</summary>  
                <h5>{{desc}} </h5>
            </details> 
            {% if model == 'vsm' %}
                <form id="relevanceForm{{docNumber.value}}">
                    <button onclick="processRelevance('relevant','{{docNumber.value}}', '{{docID}}', '{{query}}')" type="submit" class="uk-button uk-button-primary uk-position-small" 
                            id="relev{{docNumber.value}}" value="relevant">Relevant</button>
                    <button onclick="processRelevance('notrelevant','{{docNumber.value}}', '{{docID}}', '{{query}}')" type="submit" class="uk-button uk-button-danger uk-position-small" 
                            id="relev{{docNumber.value}}" value="notrelevant">Not Relevant</button>
                </form>
                <div id="successAlert{{docNumber.value}}" class="uk-alert-success" uk-alert style="display:none;">
                    <a class="uk-alert-close" uk-close></a>
                    <p>Relevance recorded.</p>
                </div>
             {% endif %}
        </div>  
        {% set docNumber.value = docNumber.value + 1 %}
        <hr>
    {% endfor %}
   
    <!-- reuters -->
    {%else%}
        {%if noDoc%}
            <h3>{{res}}</h3>
        {%else%}
            {% set docNumber = namespace(value=1) %}
            {% for i in res %}
                {%set title = i[0]%}
                {%set topics = i[1]%}
                {%set author = i[2]%}
                {%set date = i[3]%}
                {%set body = i[4]%}
                {%set docID = i[5]%}
                
            
                <div class="uk-card uk-card-hover uk-card-body">
                    {{docNumber.value}}
                    <h3>{{title}}</h3>
                    <p>{{body[:200]}}...</p>
                    <details>
                        <summary>Full Article</summary>
                        <h5>Topics: {{topics}}<br> Author: {{author}}<br>Date: {{date}}</h5>
                        <p>{{body}}</p>
                    </details>
                </div>   
            
                {% if model == 'vsm' %}
                <form id="relevanceForm{{docNumber.value}}">
                    <button onclick="processRelevance('relevant','{{docNumber.value}}', '{{docID}}', '{{query}}')" type="submit" class="uk-button uk-button-primary uk-position-small" 
                            id="relev{{docNumber.value}}" value="relevant">Relevant</button>
                    <button onclick="processRelevance('notrelevant','{{docNumber.value}}', '{{docID}}', '{{query}}')" type="submit" class="uk-button uk-button-danger uk-position-small" 
                            id="relev{{docNumber.value}}" value="notrelevant">Not Relevant</button>
                </form>
                <div id="successAlert{{docNumber.value}}" class="uk-alert-success" uk-alert style="display:none;">
                    <a class="uk-alert-close" uk-close></a>
                    <p>Relevance recorded.</p>
                </div>
                {% endif %}
                <hr>
                {% set docNumber.value = docNumber.value + 1 %}
            {% endfor %}
        {% endif %}
    {% endif %}


<!-- Reuters topic -->
<script>
    $("input[name='corpus']").on('change', function(){
        // alert(this.value)
        if (this.value != 'reuters'){
            $("#topicDropdown").attr("disabled", true);
        } else {
            $("#topicDropdown").attr("disabled", false);
        }
    });

</script>

</body>

</html>