<!DOCTYPE HTML>
<html>

<head>
    <title>Beam Search</title>
    <meta charset="utf-8" />

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit-icons.min.js"></script>

    <style>
        body {
            width: 50%;
            margin: auto;
        }
        .column {
            float: left;
            width: 50%;
        }
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<body>
    <center>
        <!-- Header -->
        <header id="header">
            <h1>Beam Search </h1>
        </header>

        <!-- Search Form -->
        <form method="POST" action="{{ url_for('handle_data') }}">
            <div>
                <input type="radio" name="corpus" value="reuters" checked> Reuters<br>
                <input type="radio" name="corpus" value="uottawa"> uOttawa Courses<br>
            </div>

            <input type="text" name="query" size="55" placeholder='Search...' value="{{query}}"><br>

            <input type="radio" name="model" value="corpus_acess" checked="checked"> Corpus Access<br>
            <input type="radio" name="model" value="boolean"> Boolean<br>
            <input type="radio" name="model" value="vsm"> VSM<br>

            <details>
                <center>
                    <summary>Advanced Options:</summary>
                    <div class="row">
                        <div class="column">
                            Disable lemmatization & Stemming:<input type="checkbox" name="lemmatization" value="False"><br>
                            Disable normalization:<input type="checkbox" name="normalization" value="False"> <br>
                        </div>
                        <div class="column">
                            Enable query expansion:<input type="checkbox" name="globalexpansion" value="True"><br>
                        </div>
                    </div>
                </center>
            </details>
            <br>
            <input name='search-button' type='submit' value='search' /><br>


        </form>
    </center>

    <br>
    {%if corpus == 'uottawa'%}
    {% for i in res %}
    <button class="uk-button uk-button-default uk-margin-small-right" type="button"
        uk-toggle="target: #modal-close-default">
        <h3>{{i[0]}} </h3>
    </button>
    <div id="modal-close-default" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h3>{{i[0]}} </h3>
            <p>{{i[1]}}</p>
        </div>
    </div>
    <p>{{i[1]}}</p>
    {% endfor %}
    <!-- reuters -->
    {%else%}
    {% for i in res %}
    <div class="uk-card uk-card-hover uk-card-body">
    <button class="uk-button uk-button-default uk-margin-small-right" type="button"
    uk-toggle="target: #modal-close-default">
    <h3>{{i[0]}} </h3>
        </button>
        <div id="modal-close-default" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h3>{{i[0]}} </h3>
                <h5>Topics: {{i[1]}} </h5>
                <h6>Author: {{i[2]}}</h6>
                <p>Date: {{i[3]}}</p>
                <p>{{i[4]}}</p>
            </div>
        </div>
        <p>{{i[4][:200]}}...</p>
    </div>
    <hr>

    {% endfor %}
    {% endif %}
</body>

</html>